<mat-toolbar color="primary" class="mat-elevation-z1">
  <mat-toolbar-row>
    <button mat-icon-button id="menu" (click)="navService.openNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Interfaz de control</h1>
    <span class="menu-spacer"></span>
    <!-- <div>
                  <a mat-button [routerLink]="'/accounts'"> Accounts </a>
                  <a mat-button [routerLink]="'/create-account'"> Create Account </a>
                  <a mat-button [routerLink]="'/contacts'"> Contacts </a>
                  <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
                  <a mat-button [routerLink]="'/activities'"> Activities </a>
                  <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
            
                </div> -->
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
            <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
          </mat-toolbar-row> -->
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="over" opened="false" >
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>